body {
  font-famiy: Garamond, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(241, 241, 241);
}

.contrainer {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(210, 210, 210);
  box-shadow: 0 2px 4px rgba(rgb(216, 191, 191), green, blue, alpha);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  font-size: 2.5em;
  color: rgb(9, 75, 26);
}

p {
  margin: 0;
  color: rgb(92, 92, 12);
}

.profile,
.skills,
.experience,
.education {
  margin-bottom: 30px;
}

h2 {
  margin: 0 0 10px 0;
  color: rgb(29, 78, 25);
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
  background-color: rgba(233, 208, 208, 0.952);
  padding: 5px 10px;
  border-radius: 5px;
}

article {
  margin-bottom: 20px;
}

article h3 {
  margin: 0 0 5px 0;
  color: rgb(122, 51, 51);
}

article p {
  margin: 0;
  color: rgb(122, 51, 51);
}
